section.slider.text-center
  p * — приведённые данные ложь 
  div#carouselExampleSlidesOnly.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
      li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
      li(data-target="#carouselExampleIndicators" data-slide-to="1")
      li(data-target="#carouselExampleIndicators" data-slide-to="2")
    div.carousel-inner
      div.carousel-item.active
        img( src="img/slide1.png" alt="First slide")
        h2.title--white БЫСТРО
        p.slider_text Мы делаем свою работу быстро! Два часа пролетят незаметно и Вы — счастливый обладатель стильной стрижки-минутки
      div.carousel-item
        img( src="img/slide2.png" alt="Second slide")
        h2.title--white КРУТО
        p.slider_text Забудьте, как вы стриглись раньше. Мы сделаем из Вас звезду футбола или кино. Во всяком случае внешне.
      div.carousel-item
        img( src="img/slide3.png" alt="Third slide")
        h2.title--white ДОРОГО
        p.slider_text Наши мастера — профессионалы своего дела и не могут стоить дёшево. К тому же, разве цена не даёт определённый статус?