.top-menu{
    display: block;
    min-width: 100%;
    background-color: black;
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    &__item{
        list-style: none;
        // display: flex;
    }
    &__item:last-child{
        margin-left: auto;
        & span::before{
            content: '';
            background-image: url('../img/login.svg');
            background-size: 16px 16px;
            margin-right: 19px;
            display: inline-block;
            vertical-align: sub;
            color: red;
            width: 16px;
            height: 16px;
        }
        }
    &__link{
        font-size: 14px;
        font-weight: 700;
        height: 72px;
        line-height: 1;
        display: block;
        background-color: black;
        text-decoration: none;
        padding: 0 31px;
        box-sizing: border-box;
        text-transform: uppercase;
        color: white;
        transition: .2s background-color ease-in-out;
        &--active{
            border-bottom: 3px solid #826550;
            padding: 29px 0px;
            box-sizing: border-box;
            max-height: 100%;
            display: block
        }
        &--not-active{
            padding: 29px 0px;
            box-sizing: border-box;
            max-height: 100%;
            display: block
        }
        &:hover{
            background-color: white;
            color: black;
        }
        &:active{
            color: rgba(0, 0, 0, 0.3);
        }
    }
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 720px;
    }
    .top-menu{
    &__item:last-child{
    margin-left: auto;
        & span{
            width: 0px;
            height: 0px;
            color: transparent;
        }
        & span::before{
            content: url('../img/login.svg');
            margin-right: 19px;
            display: inline-block;
            vertical-align: sub;
            }
        }
            &:hover{
                color: #826550;
            }
    }
}
