@media screen and (min-width: 992px){
    .nav{
        &__mobile-wrapper{
            justify-content: space-between;
        }
    }

    
        .menu{
        // &__hamburger {
        //     box-sizing: border-box;
        //     display: block;
        //     color: #fff;
        //     background-color: #6a4d38;
        //     padding: 5px;
        //     cursor: pointer;
        //     position: absolute;
        //     top: 0;
        //     left: calc(100vw - 70px);
        //     transition: left .3s;
        //     z-index: 1000;
        //     width: 70px;
        //     height: 50px;
        //     padding: 17px;
        //     & > span{
        //         display: block;
        //         height: 3px;
        //         width: 35px;
        //         background-color: #fff;
        //         margin: 5px 0 0;
        //         transition: all .1s linear .23s;
        //         position: relative;
        //     }
        //     & > .first{
        //         margin-top: 0;
        //     }
        // }
        &__item{
            background-color: black;
            width: auto;
            box-shadow: none;
            & + &{
                margin-right: 1px;
            }
            // &--hidden{
            //     box-sizing: border-box;
            //     width: 100vw;
            //     height: 50px;
            //     justify-content: center;
            //     align-items: center;
            //     flex-wrap: wrap;
            
            &--active{
                &::after{
                    width: calc(100% - 60px);
                    left: 30px;
                }
            }
        }
       
        &__text{
            &--hidden{
                display: flex;
            }
        }
        &__icon{
            margin-right: 20px;
            // & > ul{
            //         display: flex;
            //         justify-content: flex-start;
            //         flex-direction: row;
            // }
        }
        &__link {
            padding: 15px 30px;
            }
        }
    }

    // // magick
    // .menu__checkbox:checked ~ .menu__hamburger {
    //     left: 0px;
    //     box-shadow: 1px 1px 7px -2px rgba(0, 0, 0, 0.83);
    //   }
    //   .menu__checkbox:checked ~ .nav__mobile-wrapper {
    //     left: 70px;
    //   }
    //   .menu__checkbox:checked ~ .menu__hamburger span.first {
    //     transform: rotate(45deg);
    //     top: 6px;
    //   }
    //   .menu__checkbox:checked ~ .menu__hamburger span.second {
    //     opacity: 0;
    //   }
    //   .menu__checkbox:checked ~ .menu__hamburger span.third {
    //     transform: rotate(-45deg);
    //     top: -10px;
    //   }