@media screen and (min-width: 768px) {
    .nav{
        &__mobile-wrapper{
            justify-content: center;
        }
    }
    .menu{
        &__link{
            padding: 15px 15px;
        }
        &__item{
            &--active{
                &:after{
                    width: calc(100% - 30px);
                    left: 15px;
                }
            }
        }
        &__text{
            &--hidden{
                display: none;
            }
        }
        &__icon{
            margin-right: 0;
        }
    }
}