@media screen and (min-width: 320px) {
    .preview {
        display: flex;
        flex-direction: column;
        &__logoholder {
            order:-1;
            background-color: #242424;
            padding: 25px 0;
        }
        &__logo {
            margin: 0 auto;
            box-sizing: border-box;
            &--up {
                display: none;
            }
            &--down {
                display: none;
            }
            &--mid {
                width: 80%;
            }
        }
        &__story {
            background-color: white;
            text-align: center;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 20%;
                left:-23px;
                width: 0;
                height: 0;
                border-top: 23px solid white; 
                border-left: 23px solid transparent;
                display: none;
            }
        }
        &__header {
            margin: 30px 65px;
            h1 {
                margin: 0;
                font-size: 30px;
                font-weight: 700;
                line-height:  1;
                text-transform: uppercase;
            }
        }
        &__text {
            margin: 0 37px 21px 37px;
            p {
                color: black;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.3;
                margin: 0;
            }
        }
        &__block{
            display: flex;
            flex-grow: 1;
            align-items: center;
            color: white;
            &:nth-child(2n){
            background-color: #4e4e4e;
            }
            &:nth-child(2n+1){
            background-color: #353535;
            }
        }
        &__num {
            font-size: 40px;
            font-weight: 700;
            margin: 0;
            white-space: nowrap;
            text-align: left;
            
        }
        &__txt {
            font-size: 18px;
            font-weight: 300;
            text-align: right;
            margin: 0;
            line-height: 1;
        }
        &__wrapper {
            background-color: white;
       
        }
    }
}


@media screen and (min-width: 576px){
    .preview {
        background: url(/dist/img/back-tablet.jpg);
        background-size: cover;
        &__logoholder {
            display: block;
            box-sizing: border-box;
            padding-top: 43px;
            padding-bottom: 70px;
        }
        &__logo {
            margin: 0 auto;
        }
        // .container {
        //     position: relative;
        //     max-width: 85%;
        //     display: flex;
        //     text-align: left;
        //     flex-grow: 1;
        //     &:before {
        //         display: block;
        //     }
        // }
        &__header {
            width: 50%;
            padding: 40px 45px 20px 45px;
            margin: 0;
            position: relative;
            &:after {
                content:'* —  Приведенные данные ложь';
                font-size: 20px;
                line-height: 1.3;
                opacity: 0.3;
                color: black;
                position: absolute;
                white-space: nowrap;
                padding-bottom: 35px;
            }
            h1 {
                margin-top: 0;
                margin-bottom: 30px;
                line-height: 1;
            }
        }
        &__text {
            width: 50%;
            padding: 40px 44px 20px 60px;
            margin: 0;
            p {
                margin: 0;
                line-height: 1.3;
            }
        }
    }
}