.footer
    .container
        .footer__info.col-w-1
            h3 Барбершоп Бородинский
            p г. Санкт-Петербург, ул. Большая Конюшенная 19/8
        .phone.footer__phone
            a.phone__link(href="tel:+") +7(812)555-66-66
        .social.footer__social
            .col.col-w-4.footer--col
                a.social__link(href="")
                    i.fab.fa-vk 
            .col.col-w-4.footer--col
                a.social__link(href="")
                    i.fab.fa-facebook  
            .col.col-w-4.footer--col
                a.social__link(href="")
                    i.fab.fa-instagram
