.footer
	.container
		.footer__info.col.col-sm-12
			h3 Барбершоп Бородинский
			p г. Санкт-Петербург, ул. Большая Конюшенная 19/8
		.phone.footer__phone.col.col-sm-12 
			a.phone__link(href="tel:+") +7(812)555-66-66  
		.container
			.social.footer__social.row
				.footer__icon.col.col-sm-4
					a.social__link(href="javascript:=void(0)")
						i.fab.fa-vk 
				.footer__icon.col.col-sm-4
					a.social__link(href="javascript:=void(0)")
						i.fab.fa-facebook  
				.footer__icon.col.col-sm-4
					a.social__link(href="javascript:=void(0)") 
						i.fab.fa-instagram
		.develop.footer__develop
			h3 Разработано:
			.footer__btn.col.col-sm-12
				a.develop__link(href='javascript:=void(0)') html academy

