.news
    .news__wrapper
        a.news__link(href="javascript:void(0)")
            .news__date--wrapper
                span.news__date.news__date--number 29 
                span.news__date сент
            p.news__text Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки!