.news
    .container
        .row
            .col.col-4  
                a.news__link(href="javascript:void(0)")
                    .news__date--wrapper
                        span.news__date.news__date--number 29 
                        span.news__date сентября44444
                    p.news__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laborum porro architecto repellat fugiat aperiam.