.preview
	include ./_top_menu.pug
	.preview__logoholder
		a.logo__link(href="javascript:=void(0)")
			img.logo.preview__logo.preview__logo--up(src="/dist/img/barbershop-index-desktop.png")
		a.logo__link(href="javascript:=void(0)")
			img.logo.preview__logo.preview__logo--mid(src="/dist/img/barbershop-index-desktop-1.png")
		a.logo__link(href="javascript:=void(0)")
			img.logo.preview__logo.preview__logo--down(src="/dist/img/barbershop-index-desktop-2.png")
	.preview__wrapper
		.preview__container  
			.preview__header
				h1 Стрижка у нас это выгодно!
			.preview__text
				p Мужская стрижка требует точного подхода. Обратимся к статистике:
		.preview__blockholder
			.preview__block.row
				.col.col-sm-6
					p.preview__num 1 500 *
				.col.col-sm-6
					p.preview__txt рублей вложений
			.preview__block.row
				.col.col-sm-6
					p.preview__num 7 200
				.col.col-sm-6
					p.preview__txt секунд времени  мастера
			.preview__block.row
				.col.col-sm-6
					p.preview__num 90 000
				.col.col-sm-6
					p.preview__txt постриженых волос
			.preview__block.row
				.col.col-sm-6
					p.preview__num 500 000 *
				.col.col-sm-6
					p.preview__txt лайков и комплиментов