.preview
    .preview__logoholder
        img.logo.preview__logo(src="/dist/img/logotype-tablet.png")
    .container
        .preview__header
            h1 Стрижка у нас это выгодно!
        .preview__text
            p Мужская стрижка требует точного подхода. Обратимся к статистике: